<div>
  <h3>Aliens</h3>
  <%= link_to("Add a New Alien", new_alien_path) %>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Year Found</th>
      <th>Month Found</th>
      <th>Origin</th>
      <th>Power Count</th>
      <th>&nbsp;</th>
    </tr>
    <% @aliens.each do |a| %>
    <tr>
      <td><%= a.id %></td>
      <td><%= a.name %></td>
      <td><%= a.year %></td>
      <td><%= a.month %></td>
      <td><%= a.origin %></td>
      <td><%= a.powers.count %></td>
      <td>
        <%= link_to("Show", alien_path(a)) %>
        <%= link_to("Edit",  edit_alien_path(a)) %>
        <%= link_to("Delete", a, method: :delete, data: { confirm: 'Are you sure you want to delete this alien?' }) %>
      </td>
    </tr>
    <% end %>
  </table>
  <h4>Total count: <%= @aliens.count %></h4>
</div>