<div>
  <%= link_to("<< Back to List", aliens_path) %>
  <div>
    <h3>Create New Alien</h3>
    <%= form_for @alien do |f| %>
      <table>
        <tr>
          <th>Name</th>
          <td class="form-edit"><%= f.text_field(:name) %></td>
        </tr>
        <tr>
          <th>Year</th>
          <td class="form-edit"><%= f.text_field(:year) %></td>
        </tr>
        <tr>
          <th>Month</th>
          <td class="form-edit"><%= f.text_field(:month) %></td>
        </tr>
        <tr>
          <th>Origin</th>
          <td class="form-edit"><%= f.text_field(:origin) %></td>
        </tr>
      </table>
      <div class="button-save">
        <%= submit_tag("Create Alien") %>
      </div>
    <% end %>
  </div>
</div>