<div>
  <%= link_to("<< Back to List", aliens_path) %>
  <div>
    <h3>Show Alien</h3>
    <table>
      <tr>
        <td>Name</td>
        <td><%= @alien.name %></td>
      </tr>
      <tr>
        <td>Year</td>
        <td><%= @alien.year %></td>
      </tr>
      <tr>
        <td>Month</td>
        <td><%= @alien.month %></td>
      </tr>
      <tr>
        <td>Origin</td>
        <td><%= @alien.origin %></td>
      </tr>
    </table>
    <hr>
    <div class="indent">
      <h4>Powers</h4>
      <table>
        <%= link_to("Add a New Power", new_alien_power_path(@alien)) %>
        <tr>
          <th>&nbsp;</th>
          <th>Ability</th>
          <th>&nbsp;</th>
        </tr>
        <% @alien.powers.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.ability %></td>
          <td>
            <%= link_to("Edit", edit_alien_power_path(p.alien, p)) %>
            <%= link_to("Delete", [p.alien, p], method: :delete, data: { confirm: 'Are you sure you want to delete this power?' }) %>
          </td>
        </tr>
        <% end %>
      </table>
      <h4>Power count: <%= @alien.powers.count %></h4>
    </div>
  </div>
</div>
